<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtstjkx.jkxlistener.repository.AlarmMapper">
    <insert id="addAlarm" parameterType="java.util.HashMap">
        insert into c_alarm (WS_Code,BITValueA,BITValueB,BITValueC,alarmTime,state) values (#{wsCode},#{bITValueA},#{bITValueB},#{bITValueC},#{alarmTime},#{state})
    </insert>

</mapper>